
@import '../../node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4.css';
@import './step.css';




// Your customize CSS

body{
    // position:relative;
    font-size: 1.3rem;
    color:#777777;

}
.bg-blue{
    background-color:#009CD7;
    min-height: 8rem;
}
.logopane {
    display: block;
    position: relative;
    padding: 0 0 0 2rem;
}
.logopane a {
    font-size: 2rem;
    position: relative;
    display: block;
    font-weight: bold;
    color: #fff;
    padding: 0;
    margin: 0;
}
.logopane .sub-title{
    font-size: 1rem;
    display: block;
    color: #fff;

}
.previousBtn{
    background-color: #81D0EB;
    border: 1px solid #81D0EB;
    color: #fff;
}
.nextBtn{
    background-color: #00A2D8;
    border: 1px solid #00A2D8;
    color: #fff;

}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}
.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}
.container-fluid.marketing {
    top: 9rem;
    position: relative;
}
div#poll-list-table_wrapper {
    margin: 2rem 0;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
    color: #909090;
    text-align: center;
}
// div.container {
//     width: 80%;
// }
.submitted-survey{
    background-color:#009CD7;
    min-height: 260px;
    vertical-align: middle;
    padding: 4rem 0 0 0;

}
.submitted-survey .modal-body{
    color:#fff;
    text-align: center;
    
  }
  .submitted-survey .modal-body p{
  font-weight: bold;
  }

  .inset {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 0 2px rgba(255,255,255,0.6), 
      0 1px 1px rgba(0,0,0,0.1);
    background-color: transparent !important;
    z-index: 999;
  }
  
  .inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
  }
  .create-btn-row{
      padding: 0 2rem

  }

  td.highlight {
    background-color: #CEFFE1!important;
}

div#poll-list-table_wrapper  thead {
    background: #D9EEF7;
    color: #4f9cdb;
}

// Stepper flow

section.stepper {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin: 2rem 0;
    text-align: center;
}
.formwrapper{
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
}

.action01{
    position: relative;
    /* display: block; */
    /* margin: 0 auto; */
    /* width: 100%; */
    /* background: red; */
    text-align: center;
}

.action-pane {
    text-align: center;
    margin: 2rem 0rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }

  .box {
    // background-color: grey;
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    // margin-top: 9rem;
    text-align: center;
  }

  ol.cd-breadcrumb.triangle {
    text-align: center;
    position: relative;
    /* margin: 0 auto; */
    padding: 0 0 0 8rem !important;
}

.qBody{
    min-height: 16rem;
    height:auto;
}

button.nxt-btn{
    width:11rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left !important;
}

#userName{
    text-transform: uppercase;
    color:#fff;
}
.dropdown-menu {

    color: #fff !important;
    text-align: left;
    list-style: none;
    background-color: #009cd7;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    text-transform: uppercase;
}

.dropdown-item {

    color: #ffffff;
}

.content-box {
    // background: aqua;
    display: flex;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}