@import './carousel.css';




// Your customize CSS

body{
    position:relative;

}
.bg-blue{
    background-color:#009CD7;
    min-height: 8rem;
}
.logopane {
    display: block;
   
    position: relative;
}
.logopane a {
    font-size: 2rem;
    position: relative;
    display: block;
    font-weight: bold;
    color: #fff;
    padding: 0;
    margin: 0;
}
.logopane .sub-title{
    font-size: 1rem;
    display: block;
    color: #fff;

}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}
.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}
.container-fluid.marketing {
    top: 5rem;
    position: relative;
    display: inline-flex;
    padding: 2rem
}
div#poll-list-table_wrapper {
    margin: 2rem 0;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
    color: #909090;
    text-align: center;
}
div.container {
    width: 80%;
}
.submitted-survey{
    background-color:#009CD7;
    min-height: 260px;
    vertical-align: middle;
    padding: 4rem 0 0 0;

}
.submitted-survey .modal-body{
    color:#fff;
    text-align: center;
    
  }
  .submitted-survey .modal-body p{
  font-weight: bold;
  }

  .inset {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 0 2px rgba(255,255,255,0.6), 
      0 1px 1px rgba(0,0,0,0.1);
    background-color: transparent !important;
    z-index: 999;
  }
  
  .inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
  }
  .create-btn-row{
      padding: 0 2rem

  }

  td.highlight {
    background-color: #CEFFE1!important;
}

div#poll-list-table_wrapper  thead {
    background: #D9EEF7;
    color: #4f9cdb;
}

// Stepper flow


.ssl-container {float:right;}
.ssl {display:block;float:right;font-size:24px;background: #EFEFEF;padding: 14px;border-radius: 35px;}
.ssl-text {display:block;float:right;padding:10px 10px 0 10px;color:#555;text-align:center;}
.step {background:#eee;font-size:1em;color:#ccc;padding:15px;font-size:1.25em;}
.step.active {color:#3C763D;}
.step .caret {position:absolute;margin:0;color:#eee;opacity:1.0;}
.step .caret.right {right:1px;top:0px;border-top:27px solid transparent;border-bottom:28px solid transparent;border-left:30px solid;}
.step .caret.bottom {bottom:-15px;left:35%;border-top:15px solid;border-right:50px solid transparent;border-left:50px solid transparent;}
@media(max-width:991px) {
  .step {text-align:center;margin-top:20px;height:80px;}
  .step .caret.right {top:20px;border-top:40px solid transparent;border-bottom:40px solid transparent;}
}
@media(max-width:767px) {
  .step {height:auto;}
  .ssl-container {float:none;margin:0 auto;width:220px;}
}
@media(min-width:768px) {
  .step {margin-right:20px;}}